/* 
ELEMENTS HAVE IT SET BY DEFAULT 
BLOCK: Always starts a new line and spans full width 
INLINE: Does not start a new line and spans only content 
*/

body {
  text-align: right;
}
.block {
  background: black;
  color:pink;
  width: 300px;
  margin: 0rem auto;
}

.inline {
  background: red;
  color: white;
}
