/* 
BLOCK: browser respects width/height, top/bottom margin
INLINE: browser does net respects width/height, top/bottom margin

Navbar 
list-type-type: property
descendant selectors
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar {
  background: red;
  color: white;
  font-size: 1.5rem;
  text-transform: capitalize;
  position: fixed;
  margin-top: 0;
  top: 0;
  left: 0;
  width: 100%;
}

ul li {
  list-style-type: none;
}

ul li a {
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
  word-spacing: 15px;
  display: inline-block;
  padding: 5px;
  float: right;
}
