/* PIXELS - ABSOLUTE values, one dot on the screen 
FONT SIZE - size of the font 
WIDTH - width of an element
HEIGHT - height of an element 
*/
h2 {
  font-size: 50px;
  background: blue;
  color: white;
  width: 200px;
  height: 115px;
}