* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  min-height: 100vh;
  color: white;
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
}

.big-img {
  background: url("./big.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
}
.small-img {
  background: url("./images/folder\ img.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.folder-img {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./big.jpg") center/cover no-repeat fixed;
}

.colorZilla {
  background: #1e5799; /* Old browsers */
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    #1e5799 0%,
    #d328c5 31%,
    #d89222 64%,
    #7db9e8 100%
  );
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    #1e5799 0%,
    #d328c5 31%,
    #d89222 64%,
    #7db9e8 100%
  );
  background: radial-gradient(
    ellipse at center,
    #1e5799 0%,
    #d328c5 31%,
    #d89222 64%,
    #7db9e8 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 );
}
