* {
  margin: 0;
  padding: 0;
}

div {
  background: black;
  color: red;
  width: 300px;
  height: 300px;
  text-align: center;
  margin: 200px auto;
}

div:hover {
  background: red;
  color: black;
  transform: scale(1.1);
  border: 5px solid blueviolet;
  border-radius: 50%;
  text-transform: uppercase;
}

h1 {
  padding: 112px 50px;
}
