body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #f3f3f3;
}

.container {
  border: 5px solid red;
}

.box {
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: #f3f3f3;
}

.box-1 {
    background: #edc967;
}
.box-2 {
    background: #ffdc41;
}
.box-3 {
    background: #FFD700;
}
.box-4 {
    background: #DFCD7C;
}
.box-5 {
    background: #C0C0C0;
    background: linear-gradient(-45deg, #F9F295, #E0AA3E,#E0AA3E, #B88A44);
}

.generic {
  background:  #581f18;



