/* DIV AND SPAN - used for grouping */
/* DIV - used to group multiple elements */
/* SPAN - used to group inline content */

/* INHERITANCE */
/* Children inherit styles from the parent, unless have their own styles */

/* Last rule and Specificity * Universal Selector */
/* https://www.w3schools.com/css/css_specificity.asp */

* {
  color: green;
}

p{
  color: red;
}

.special {
  color:blue;
}
